# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeDoc output
docs/

#design documents
sdk-design.md
hunyuan.md
tripo.md
AISDK.md

#models
*.glb